{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}{{username}}'s profile{% endblock %}

{% block content %}
    <h2 class="mt-3">{{username}}</h2>
    <h5 class="mb-3">Average rating: {{rating}}</h5>
    
    <table class="table">
        <thead class="thead">
            <th scope="col">Rating</th>
            <th scope="col">Comment</th>
        </thead>
        <tbody>
            {% for rating, review in reviews %}
            <tr scope="row">
                <td>{{rating}}</td>
                <td>{{review}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
